---
layout: default
---

<div class="jumbotron">
  <h1>{{ site.greeting }}</h1>
  <p>
<!--    {{ site.description }}-->
  </p>
  <p class="browse-button"><a class="btn btn-primary btn-lg" href="{{ site.baseurl }}/datasets" role="button">Browse Documents</a></p>
</div>


{% comment %} <h1>Browse by Category</h1>
<div class="homepage-categories">
{% for category in site.data.categories %}
  {% if category.featured == true %}
    {% capture logo_alt %}{{ category.name }}{% if category.logo_credit and category.logo_credit != empty %} logo by {{ category.logo_credit }}{% endif %}{% endcapture %}
    <a href="{{ site.baseurl }}/datasets/?category={{ category.name | slugify }}" class="thumbnail" title="{{ logo_alt }}">
      {% if category.logo and category.logo != empty %}
        <img src="{{ site.baseurl }}{{ category.logo }}" alt="{{ logo_alt }}">
      {% endif %}
      {{ category.name }}
    </a>
  {% endif %}
{% endfor %}
</div> {% endcomment %}

{% comment %} <h3>Browse by Work Location</h3>

<div class="homepage-countries">
{% for country in site.data.countries %}
  {% if country.featured == true %}
    {% capture logo_alt %}{{ country.name }}{% if country.logo_credit and country.logo_credit != empty %} logo by {{ country.logo_credit }}{% endif %}{% endcapture %}
    <a href="{{ site.baseurl }}/datasets/?country={{ country.name | slugify }}" class="thumbnail" title="{{ logo_alt }}">
      {% if country.logo and country.logo != empty %}
        <img src="{{ site.baseurl }}{{ country.logo }}" alt="{{ logo_alt }}">
      {% endif %}
      {{ country.name }}
    </a>
  {% endif %}
{% endfor %}
</div> {% endcomment %}

<h1>Acknowledgements</h1>
<p>The following have contributed to the project: </p>
<div class="logos"><img src="./img/who_logo.png" alt="WHO Logo"><img src="./img/nagasaki_university_logo.gif" alt="Nagasaki University"><img src="./img/usaid_logo.png" alt="US Aid"><img src="./img/ntd_support_centre_logo.png" alt="Neglected Tropical Diseases Support Centre"><img src="./img/jcu_logo.png" alt="James Cook University"></div>
</div>




