<!-- general behavior -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
{% comment %} <script src="{{ site.baseurl }}/scripts/dist/bundle.js"></script> {% endcomment %}
<script src="{{ site.baseurl }}/scripts/dist/bundle.min.js"></script>

<footer>
    <div class="navbar-default navbar-center navbar-bottom text-center">
        <div class="container">
            <p class="navbar-text text-center text-muted">© 2019 PacELF Project - Made with &hearts; by <a href="https://www.jcu.edu.au/eresearch">JCU eResearch Centre </a>
            </p>
        </div>
    </div>
</footer>
